.user {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  grid-template-rows: 1fr;
  margin: 5px;
}

.user-info {
  display: grid;
  align-items: center;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-title {
  font-size: 16px;
  font-weight: 400;
  color: #64648C
}

.edit-icon-wrapper {
  display: grid;
  align-items: center;
}