.search-list-header p {
    color: #64648C;
    margin: 10px 15px 20px 0;
}

button {
    color: #64648C;
    background-color: #F0F5FA;
    margin: 15px 0;
}

.search-list {
    position: fixed;
    top: 230px;
    right: 45px;
    width: 1060px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    padding: 20px;
    z-index: 2;
}

.search-list-no-results p {
    color: #64648C;
    margin: 15px 0;
}