.commentForm {
    display: grid;
    grid-template-columns: 58px 1fr;
}

.commentPost {
    display: grid;
    grid-template-columns: 1fr 60px;
    background-color: #E6EBF5;
    border-radius: 8px;
    justify-items: center;
    align-items: center;
}

#commentSubmitArrow {
    background: #C8D2E6;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
}