

.user-search-result-container {
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .user-search-result-container p {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    width: 283px;
    height: 48px;
    top: 120px;
    left: 311px;
    margin-top: 1px;
    margin-left: 20px;
  }
  
  .user-search-result-container svg {
    fill: #64648C;
      
  }

  .white-background-box {
    width: 600px;
    height: 550px;
    top: 292px;
    left: 44px;
   
    background-color: #fff;
    margin-left: 100px;
    margin-top: 10px;

  }

  .white-background-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 432px;
    height: 441px;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: #fff;
  }

  .column {
   
    text-align: center;
    margin-top: 1px;
  
    
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #DCE1F0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profession {
    color: #555;
  }