

.user-search-result-container {
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .user-search-result-container p {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    width: 283px;
    height: 48px;
    top: 120px;
    left: 311px;
    margin-top: 1px;
    margin-left: 20px;
  }
  
  .user-search-result-container svg {
    fill: #64648C;
    transition: fill 0.3s; 
  }
  

  .white-background-box {
    width: 600px;
    height: fit-content;
    top: 292px;
    left: 44px;
    background-color: #fff;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }