.register-form {
	margin-bottom: 32px;
}
.register-form form {
	display: grid;
	grid-template-rows: repeat(2, auto);
	gap: 24px;
	margin-bottom: 40px;
}
.register-form .error-message {
	color: red;
	opacity: .75;
}
.register-form .error-message .example {
	color: inherit;
	font-style: italic;
}