.editContainer {
    grid-column: span 2;
    margin: 15px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-column: span 2;
}

.basicInfoSection {
    grid-area: "basicInfo";

}

.contactInfoSection {
    grid-area: "contactInfo";
}

.trainingInfoSection {
    grid-area: "trainingInfo";

}

.bioSection {
    grid-area: "bio";
}

.profile-header {
    grid-area: "profile-header";
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-header-text {
    
}