main {
  padding: 30px;
}

aside {
  padding: 30px 60px 30px 0;
}

.create-post-input {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
}

.create-post-input button {
  color: var(--color-blue1);
  font-size: 1rem !important;
  padding-left: 15px !important;
  text-align: left !important;
  max-width: 100% !important;
  background-color: var(--color-blue5);
}

.modal-body>.modal-header {
  align-items: center;
}

.modal-body > .modal-header > p {
  background: #E6EBF5;
  border-radius: 50%;
  text-align: center;
  padding: 5px 10px;
  transition: background-color 0.2s ease-in-out;
}

.modal-body>.modal-header>p:hover {
  cursor: pointer;
  background: #dfe4ec;
}
