main {
  padding: 30px;
}

aside {
  padding: 30px 60px 30px 0;
}

.create-post-input {
  display: grid;
  grid-template-columns: 70px auto;
}

.create-post-input button {
  color: var(--color-blue1);
  font-size: 1rem !important;
  padding-left: 15px !important;
  text-align: left !important;
  max-width: 100% !important;
  background-color: var(--color-blue5);
}

.cohort-nav-link {
  text-decoration: none;
}

.cohort-div {
  margin-top: 15px;
}

.dashboard-cohort  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
  max-height: 400px;
  overflow: auto;
}

.dashboard-cohort-title {
  margin-bottom: 0rem !important;
}