.users {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    background-color: white;
    grid-template-columns: 50px auto 48px;
    padding: 5px;
    column-gap: 20px;
}


.initials {
    text-align: center;
    padding-top: 9px;
    border-radius: 50%;
    background-color: #64DC78;
    align-self: center;
    align-items: center;
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

.first-and-last-name {
    padding-top: 9px;
    font-weight: 600;
    font-size: 1.1rem;
}

.more-menu {
    text-align: center;
    color: #64648C;
    border-radius: 50%;
    background: #F0F5FA;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 11px;
    padding-bottom: 8px;
}