.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-left: 20px;
    /* Adjust this value to add margin from the navigation bar */
}

.profile-header {
    margin-bottom: 20px;
    /* Space between the header and the grid container */
}

.profile-titleblock{
    display: grid;
    grid-template-columns: 56px auto 48px;
    column-gap: 20px;
}

.profile-name {
    padding-top: 4px;
}

.profile-name p {
    font-weight: 600;
    font-size: 1.6rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.grid-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}