@import url(../../styles/_globals.css);

.personCard {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    font-size: 30px;
    padding: .5rem;
    margin-top: 10px;
    gap: .5rem;
}
.personCard:hover {
    background-color: var(--color-blue7);
}
.personCard button {
    min-width: max-content;
    border-radius: 2px;
    cursor: pointer;
}
.personCard button:hover {
    background-color: var(--color-offwhite);
}
.personName {
    font-weight: bold;
}
.cohortInfo {
    color: var(--color-blue2);
}
.button-wrapper{
    display: flex;
    flex-direction: row;
}
.edit-icon {
    text-align: center;
    position: relative;
    cursor: pointer;
}
.people {
    text-align: left;
    margin-bottom: 10px;
}
.searchMenu {
    transform: translate(-150%);
}