.profile-page-main {
  grid-column: 2 / span 2; /* Occupy the last two columns */
  grid-row: 2; /* Occupy row 2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.profile-header {
  margin-top: 10px;
  align-self: flex-start;
  margin: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.profile-info-header {
  display: flex;
  align-items: center;
}

.profile-info-header .profile-icon {
  width: 80px;
  height: 80px;
}

.profile-info-header .profile-icon p {
  line-height: 77px;
  font-size: 32px;
  font-weight: 400;
  align-items: center;
}

.profile-info {
  margin-left: 16px;
}

.profile-info h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.profile-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue1);
  margin: 0;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.profile-grid-section h3 {
  margin-bottom: 32px; /* Add space below section headers */
}

.profile-grid-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile-grid-section.read-only input {
  pointer-events: none; /* Disable all mouse events */
}

.photo-section {
  display: flex;
  flex-direction: column;
}

.photo-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-blue1);
  margin-left: 2px;
}

.profile-circle-wrapper {
  display: flex;
  align-items: center;
}

.add-headshot {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #888;
  margin-left: 16px; /* Add space between profile circle and add headshot text */
}

.profile-grid-section-bio .profile-grid-section {
  gap: 0;
}

.section-divider {
  border: none;
  border-top: 1px solid var(--color-blue5);
  margin: 32px 0; /* Add vertical space around the divider */
}

textarea {
  height: 287px; /* Set the height of the textarea */
  resize: none; /* Förhindrar användaren från att ändra storlek på textarea */
  margin: 0;
}

.info-text {
  color: var(--color-blue1);
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
}

.required-text {
  margin-left: 0;
}

.edit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  padding: 14px 24px;
  gap: 8px;

  background: var(--color-blue);
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 1;
}
