.create-post-user-details {
    display: grid;
    grid-template-columns: 56px auto;
    column-gap: 20px;
}

textarea {
    height: 256px;
    resize: none;
    background-color: var(--color-blue5);
    border-radius: 8px;
    padding: 16px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    width: 100% !important;
    max-width: 100% !important;
}

.post__settings-button {
    border-radius: 10px;
    border: 1px solid #000046;
    color: #000046;
}

.post__settings-button:hover,
.post__settings-button--active {
    background-color: #000046;
    color: #fff !important;
}

.circle-icon {
    width: 53px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--color-blue5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit,
.delete {
    width: 0 !important;
}

.second-delete,
.cancel-delete {
    margin-top: 20px;
}

.cancel-delete {
    margin-right: 10px;
}

.second-delete {
    margin-left: 100px;
}

.edit-delete-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.second-edit {
    margin-top: 20px;
}