.forgot-password-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 644px;
}

.forgot-password-title {
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}

.forgot-password-submit-btn {
    margin-top: 1rem;
}