.search-results-header-container {
    display: flex;
    align-items: center;
  }

  .search-results-header {
    margin-left: 1px;
  }
.search-results-page {
    margin : 20;
    justify-content: center;
    align-items: center;
    height: 100vh;
}