.snackbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  position: relative;
  width: 310px;
  height: 56px;
  background-color: #000046;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #ffffff;
}

.snackbar-message {
  flex: 1;
  height: 28px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.snackbar-action {
  background: transparent;
  border: none;
  color: #64dc78;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
  flex: none;
  order: 2;
  margin-left: 8px;
}

.snackbar-icon {
  width: 48px;
  height: 48px;
}
