.snackbar-page-wrapper {
  background: rgb(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snackbar {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  position: relative;
  width: 350px;
  min-height: 56px;
  max-height: 40px;
  background-color: #000046;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #ffffff;
  justify-content: space-between;
}
.snackbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.snackbar-message {
  flex: 3;
  min-height: 28px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;

  flex-shrink: 0;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.snackbar-action {
  background: transparent;
  border: none;
  color: #64dc78;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
  flex: 1;
  margin-left: 8px;
}

.snackbar-icon {
  width: 48px;
  height: 48px;
  flex: 1;
}
