.post {
  display: grid;
  row-gap: 20px;
}

.post-details {
  display: grid;
  grid-template-columns: 56px auto 48px;
  column-gap: 20px;
}

.post-user-name {
  padding-top: 4px;
}

.post-user-name p {
  font-weight: 600;
  font-size: 1.1rem;
}

.post-user-name small {
  color: #64648c;
}

.edit-icon {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #f0f5fa;
}

.edit-icon p {
  text-align: center;
  font-size: 20px;
}

.post-interactions-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px 10px;
}

.post-interactions {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  .like-button{
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.post-interactions-container p {
  text-align: right;
}
