* {
  color: #000046;
}

.container {
  display: grid;
  grid-template-columns: 151px 2fr 1fr;
  grid-template-rows: 96px auto;
  background-color: #f0f5fa;
  height: fit-content;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
