.cohort {
    display: grid;
    row-gap: 20px;
}

.cohort-header p {
    margin-top: 10px;
    color: #64648C;
}

.cohort-list-user {
    display: grid;
    grid-template-columns: 56px auto 48px;
    column-gap: 20px;
    margin: 15px 0;
}

.cohort-list-details {
    margin-top: 15px;
}

.cohort-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    border-top: 1px solid rgba(230, 235, 245, 1);
}

.cohort-list::-webkit-scrollbar {
    width: 10px;
}

.cohort-list::-webkit-scrollbar-thumb {
    background-color: #c8d2e6;
    border-radius: 8px;
}

.edit-icon {
    margin-top: 5px;
}

.edit-icon p {
    letter-spacing: 2px;
    font-weight: 600;
}

.edit-icon p:hover {
    cursor: pointer;
}